* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

.df {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.app {
    display: block;
    width: 1080px;
    margin: 300px auto;
}

.app-wrapper {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
}