$background: rgb(214, 213, 213);

//** variables
$background: #f5f6fa;
$text: #9c9c9c;
$input-bg-color: #fff;
$input-text-color: #a3a3a3;
$button-bg-color: #7f8ff4;
$button-text-color: #fff;

//** root
:root {
	background: $background;
	color: $text;
	font: 1rem "PT Sans", sans-serif;
}


a {
	color: inherit;
	
	&:hover {
		color: $button-bg-color;
	}
}

//** helper
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    padding-top: 100px;
}

.uppercase {
	text-transform: uppercase;
}

//** button
.btn-add {
	background-color: black;
	color: white;
	border-radius: 5px;
	text-transform: uppercase;
}

//** form
.form {	
	&__field {
		width: 360px;
		background: #fff;
		color: $input-text-color;
		font: inherit;
		box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
		border: 0;
		outline: 0;
		padding: 22px 18px;
	}
}

.app {
	.video-bg {
		position: fixed;
		top:0;
		left: 0;
		width: 100%;
		min-height: 100vh;
		object-fit: cover;
		z-index: -999;
	}
}
 


