$background: rgb(214, 213, 213);

//** variables
$background: #f5f6fa;
$text: #9c9c9c;
$input-bg-color: #fff;
$input-text-color: #a3a3a3;
$button-bg-color: #7f8ff4;
$button-text-color: #fff;

.weatherBlock {
    background-color: #fff;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .3);
    margin-top: 30px;
    width: 300px;
    
    p {
        padding: 5px 0;
    }

    .title {
        font-size: 30px;
    }

    .weatherStr {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .button {
        background: $button-bg-color;
        color: $button-text-color;
        font: inherit;
        border: none;
        outline: 0;
        padding: 9px;
        transition: all 200ms ease-in;
        cursor: pointer;   
        &:hover {
			background: darken($button-bg-color, 4%);
		}
		
		&:active {
			background: $button-bg-color;
			box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
		}
    }

}

